// VARIABLES

$total-columns: 12;

body {
  font-family: system-ui, sans-serif;
  font-weight: bold;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat($total-columns, minmax(0, 1fr));
  gap: 1rem;
}

// demo only

.col,
[class*='col-'] {
  padding: 0.5rem;
  background: lightblue;
  border: 2px solid steelblue;
  text-align: center;
}

[class*='col-'] {
  grid-column: 1 / -1;
}

@for $column-count from 1 through $total-columns {
  // always a column
  .col-#{$column-count} {
    grid-column: span $column-count;
  }

  // small screens and up
  @media (min-width: 20em) {
    .col-sm-#{$column-count} {
      grid-column: span $column-count;
    }
  }

  // medium screens and up
  @media (min-width: 40em) {
    .col-med-#{$column-count} {
      grid-column: span $column-count;
    }
  }

  // large screens and up
  @media (min-width: 60em) {
    .col-lg-#{$column-count} {
      grid-column: span $column-count;
    }
  }
}
