body {
  font-family: system-ui, sans-serif;
  font-weight: bold;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1rem;
}

.col,
[class*=col-] {
  padding: 0.5rem;
  background: lightblue;
  border: 2px solid steelblue;
  text-align: center;
}

[class*=col-] {
  grid-column: 1/-1;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 20em) {
  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 40em) {
  .col-med-1 {
    grid-column: span 1;
  }
}
@media (min-width: 60em) {
  .col-lg-1 {
    grid-column: span 1;
  }
}
.col-2 {
  grid-column: span 2;
}

@media (min-width: 20em) {
  .col-sm-2 {
    grid-column: span 2;
  }
}
@media (min-width: 40em) {
  .col-med-2 {
    grid-column: span 2;
  }
}
@media (min-width: 60em) {
  .col-lg-2 {
    grid-column: span 2;
  }
}
.col-3 {
  grid-column: span 3;
}

@media (min-width: 20em) {
  .col-sm-3 {
    grid-column: span 3;
  }
}
@media (min-width: 40em) {
  .col-med-3 {
    grid-column: span 3;
  }
}
@media (min-width: 60em) {
  .col-lg-3 {
    grid-column: span 3;
  }
}
.col-4 {
  grid-column: span 4;
}

@media (min-width: 20em) {
  .col-sm-4 {
    grid-column: span 4;
  }
}
@media (min-width: 40em) {
  .col-med-4 {
    grid-column: span 4;
  }
}
@media (min-width: 60em) {
  .col-lg-4 {
    grid-column: span 4;
  }
}
.col-5 {
  grid-column: span 5;
}

@media (min-width: 20em) {
  .col-sm-5 {
    grid-column: span 5;
  }
}
@media (min-width: 40em) {
  .col-med-5 {
    grid-column: span 5;
  }
}
@media (min-width: 60em) {
  .col-lg-5 {
    grid-column: span 5;
  }
}
.col-6 {
  grid-column: span 6;
}

@media (min-width: 20em) {
  .col-sm-6 {
    grid-column: span 6;
  }
}
@media (min-width: 40em) {
  .col-med-6 {
    grid-column: span 6;
  }
}
@media (min-width: 60em) {
  .col-lg-6 {
    grid-column: span 6;
  }
}
.col-7 {
  grid-column: span 7;
}

@media (min-width: 20em) {
  .col-sm-7 {
    grid-column: span 7;
  }
}
@media (min-width: 40em) {
  .col-med-7 {
    grid-column: span 7;
  }
}
@media (min-width: 60em) {
  .col-lg-7 {
    grid-column: span 7;
  }
}
.col-8 {
  grid-column: span 8;
}

@media (min-width: 20em) {
  .col-sm-8 {
    grid-column: span 8;
  }
}
@media (min-width: 40em) {
  .col-med-8 {
    grid-column: span 8;
  }
}
@media (min-width: 60em) {
  .col-lg-8 {
    grid-column: span 8;
  }
}
.col-9 {
  grid-column: span 9;
}

@media (min-width: 20em) {
  .col-sm-9 {
    grid-column: span 9;
  }
}
@media (min-width: 40em) {
  .col-med-9 {
    grid-column: span 9;
  }
}
@media (min-width: 60em) {
  .col-lg-9 {
    grid-column: span 9;
  }
}
.col-10 {
  grid-column: span 10;
}

@media (min-width: 20em) {
  .col-sm-10 {
    grid-column: span 10;
  }
}
@media (min-width: 40em) {
  .col-med-10 {
    grid-column: span 10;
  }
}
@media (min-width: 60em) {
  .col-lg-10 {
    grid-column: span 10;
  }
}
.col-11 {
  grid-column: span 11;
}

@media (min-width: 20em) {
  .col-sm-11 {
    grid-column: span 11;
  }
}
@media (min-width: 40em) {
  .col-med-11 {
    grid-column: span 11;
  }
}
@media (min-width: 60em) {
  .col-lg-11 {
    grid-column: span 11;
  }
}
.col-12 {
  grid-column: span 12;
}

@media (min-width: 20em) {
  .col-sm-12 {
    grid-column: span 12;
  }
}
@media (min-width: 40em) {
  .col-med-12 {
    grid-column: span 12;
  }
}
@media (min-width: 60em) {
  .col-lg-12 {
    grid-column: span 12;
  }
}

/*# sourceMappingURL=style.css.map */
